@charset "UTF-8";
.container-fluid {
    background-color: #87CEFA ;
    padding-bottom: 5px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: border-box;
    border-color: black;
    border: 2px solid;
    background-color:gray;
    padding-bottom: 1px;
    padding-top: 30px;
    height: 130px;
    font-size: 50px;
}

 

 .navbar-brand {
    font-size: 50px;
    padding: 0cm;
    font-weight: lighter;
    text-align: center;
 }



  .navbar-toggler {
    cursor: pointer;
  }


 #fintech{
   margin-left: 35%;
   font-size: 50px;
}